In [67]:
import pandas as pd
import numpy as np

In [68]:
spotify = pd.read_csv("C:/Users/Hp Pc/Downloads/Most Streamed Spotify Songs 2024.csv", encoding = "unicode_escape")

In [69]:
spotify

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

In [70]:
spotify.columns.to_list()

['Track',
 'Album Name',
 'Artist',
 'Release Date',
 'ISRC',
 'All Time Rank',
 'Track Score',
 'Spotify Streams',
 'Spotify Playlist Count',
 'Spotify Playlist Reach',
 'Spotify Popularity',
 'YouTube Views',
 'YouTube Likes',
 'TikTok Posts',
 'TikTok Likes',
 'TikTok Views',
 'YouTube Playlist Reach',
 'Apple Music Playlist Count',
 'AirPlay Spins',
 'SiriusXM Spins',
 'Deezer Playlist Count',
 'Deezer Playlist Reach',
 'Amazon Playlist Count',
 'Pandora Streams',
 'Pandora Track Stations',
 'Soundcloud Streams',
 'Shazam Counts',
 'TIDAL Popularity',
 'Explicit Track']

In [71]:
len(spotify.Track.value_counts())

4370

In [72]:
len(spotify['Album Name'].value_counts())

4005

In [73]:
len(spotify.Artist.value_counts())

1999

In [74]:
popularity = spotify.filter(regex = 'Stream|Views')
popularity.loc[:, 'Amazon Views'] = spotify['Amazon Playlist Count']

C:\Users\Hp Pc\AppData\Local\Temp\ipykernel_2328\1561892897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popularity.loc[:, 'Amazon Views'] = spotify['Amazon Playlist Count']

In [75]:
popularity.columns

Index(['Spotify Streams', 'YouTube Views', 'TikTok Views', 'Pandora Streams',
       'Soundcloud Streams', 'Amazon Views'],
      dtype='object')

In [76]:
popularity.isna().sum()

Spotify Streams        113
YouTube Views          308
TikTok Views           981
Pandora Streams       1106
Soundcloud Streams    3333
Amazon Views          1055
dtype: int64

In [77]:
popularity.fillna(0, inplace=True)

C:\Users\Hp Pc\AppData\Local\Temp\ipykernel_2328\330606157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popularity.fillna(0, inplace=True)

In [78]:
popularity.isna().sum()

Spotify Streams       0
YouTube Views         0
TikTok Views          0
Pandora Streams       0
Soundcloud Streams    0
Amazon Views          0
dtype: int64

In [79]:
#popularity = popularity.replace(",", " ")
popularity = popularity.replace( regex= ",", value= "")

In [80]:
popularity

,Spotify Streams,YouTube Views,TikTok Views,Pandora Streams,Soundcloud Streams,Amazon Views
0,390470936,84274754,5332281936,18004655,4818457,114.0
1,323703884,116347040,208339025,7780028,6623075,111.0
2,601309283,122599116,3369120610,5022621,7208651,172.0
3,2031280633,1096100899,14603725994,190260277,0,210.0
4,107034922,77373957,0,4493884,207179,105.0
...,...,...,...,...,...,...
4595,305049963,149247747,143934379,20104066,50633006,0.0
4596,52282360,943920245,19935,0,0,0.0
4597,189972685,201027333,36849005,84426740,0,6.0
4598,145467020,1118595159,37757301,6817840,0,7.0
4599,255740653,866300755,70196388,69006739,0,4.0

In [81]:
popularity = popularity.apply(lambda x: pd.to_numeric(x, errors = 'coerce'))

In [82]:
popularity = popularity.replace([float('inf'), -float('inf')], 0)

In [83]:
popularity.dtypes

Spotify Streams         int64
YouTube Views           int64
TikTok Views            int64
Pandora Streams         int64
Soundcloud Streams      int64
Amazon Views          float64
dtype: object

In [84]:
popularity

,Spotify Streams,YouTube Views,TikTok Views,Pandora Streams,Soundcloud Streams,Amazon Views
0,390470936,84274754,5332281936,18004655,4818457,114.0
1,323703884,116347040,208339025,7780028,6623075,111.0
2,601309283,122599116,3369120610,5022621,7208651,172.0
3,2031280633,1096100899,14603725994,190260277,0,210.0
4,107034922,77373957,0,4493884,207179,105.0
...,...,...,...,...,...,...
4595,305049963,149247747,143934379,20104066,50633006,0.0
4596,52282360,943920245,19935,0,0,0.0
4597,189972685,201027333,36849005,84426740,0,6.0
4598,145467020,1118595159,37757301,6817840,0,7.0
4599,255740653,866300755,70196388,69006739,0,4.0

In [92]:
social_reach  = spotify.filter(regex = 'Reach')

In [93]:
social_reach

     Spotify Playlist Reach YouTube Playlist Reach Deezer Playlist Reach
0               196,631,588            150,597,040            17,598,718
1               174,597,137            156,380,351            10,422,430
2               211,607,669            373,784,955            36,321,847
3               136,569,078          3,351,188,582            24,684,248
4               151,469,874            112,763,851            17,660,624
...                     ...                    ...                   ...
4595              5,103,054                 53,016                14,217
4596              1,449,767             24,973,048                   927
4597              6,704,802             29,253,152                    74
4598              7,387,064             25,150,516                   NaN
4599             14,066,526            175,831,376               127,479

[4600 rows x 3 columns]

In [95]:
social_reach = social_reach.fillna(0)

In [96]:
social_reach

     Spotify Playlist Reach YouTube Playlist Reach Deezer Playlist Reach
0               196,631,588            150,597,040            17,598,718
1               174,597,137            156,380,351            10,422,430
2               211,607,669            373,784,955            36,321,847
3               136,569,078          3,351,188,582            24,684,248
4               151,469,874            112,763,851            17,660,624
...                     ...                    ...                   ...
4595              5,103,054                 53,016                14,217
4596              1,449,767             24,973,048                   927
4597              6,704,802             29,253,152                    74
4598              7,387,064             25,150,516                     0
4599             14,066,526            175,831,376               127,479

[4600 rows x 3 columns]

In [97]:
social_reach = social_reach.apply(lambda x: x.replace(regex= ",", value= "")) #remove all the commas
social_reach = social_reach.apply(lambda x: pd.to_numeric(x, errors = 'coerce'))
#social_reach = social_reach.replace([float('inf'), -float('inf')], 0)

In [98]:
social_reach

      Spotify Playlist Reach  YouTube Playlist Reach  Deezer Playlist Reach
0                  196631588               150597040               17598718
1                  174597137               156380351               10422430
2                  211607669               373784955               36321847
3                  136569078              3351188582               24684248
4                  151469874               112763851               17660624
...                      ...                     ...                    ...
4595                 5103054                   53016                  14217
4596                 1449767                24973048                    927
4597                 6704802                29253152                     74
4598                 7387064                25150516                      0
4599                14066526               175831376                 127479

[4600 rows x 3 columns]

In [100]:
popularity['pop_score'] = (popularity['Spotify Streams'] *0.2)

In [102]:
popularity[['pop_score']]

        pop_score
0      78094187.2
1      64740776.8
2     120261856.6
3     406256126.6
4      21406984.4
...           ...
4595   61009992.6
4596   10456472.0
4597   37994537.0
4598   29093404.0
4599   51148130.6

[4600 rows x 1 columns]