In [1]:
import pandas as pd

In [2]:
spotify = pd.read_csv("C:/Users/Hp Pc/Downloads/Most Streamed Spotify Songs 2024.csv", encoding = "unicode_escape")

In [3]:
spotify

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

In [4]:
spotify.columns.to_list()

['Track',
 'Album Name',
 'Artist',
 'Release Date',
 'ISRC',
 'All Time Rank',
 'Track Score',
 'Spotify Streams',
 'Spotify Playlist Count',
 'Spotify Playlist Reach',
 'Spotify Popularity',
 'YouTube Views',
 'YouTube Likes',
 'TikTok Posts',
 'TikTok Likes',
 'TikTok Views',
 'YouTube Playlist Reach',
 'Apple Music Playlist Count',
 'AirPlay Spins',
 'SiriusXM Spins',
 'Deezer Playlist Count',
 'Deezer Playlist Reach',
 'Amazon Playlist Count',
 'Pandora Streams',
 'Pandora Track Stations',
 'Soundcloud Streams',
 'Shazam Counts',
 'TIDAL Popularity',
 'Explicit Track']

In [5]:
len(spotify.Track.value_counts())

4370

In [6]:
len(spotify['Album Name'].value_counts())

4005

In [7]:
len(spotify.Artist.value_counts())

1999

In [30]:
popularity = spotify.filter(regex = 'Stream|Views')
popularity['Amazon Views'] = spotify.loc[:, 'Amazon Playlist Count']

C:\Users\Hp Pc\AppData\Local\Temp\ipykernel_9080\1316680693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popularity['Amazon Views'] = spotify.loc[:, 'Amazon Playlist Count']

In [31]:
popularity.columns

Index(['Spotify Streams', 'YouTube Views', 'TikTok Views', 'Pandora Streams',
       'Soundcloud Streams', 'Amazon Views'],
      dtype='object')

In [ ]:
#popularity = popularity.replace(",", " ")
popularity['Spotify Streams'] = popularity['Spotify Streams'].replace(',', '').astype(int)

In [35]:
popularity

,Spotify Streams,YouTube Views,TikTok Views,Pandora Streams,Soundcloud Streams,Amazon Views
0,"390,470,936","84,274,754","5,332,281,936","18,004,655","4,818,457",114.0
1,"323,703,884","116,347,040","208,339,025","7,780,028","6,623,075",111.0
2,"601,309,283","122,599,116","3,369,120,610","5,022,621","7,208,651",172.0
3,"2,031,280,633","1,096,100,899","14,603,725,994","190,260,277",NaN,210.0
4,"107,034,922","77,373,957",NaN,"4,493,884","207,179",105.0
...,...,...,...,...,...,...
4595,"305,049,963","149,247,747","143,934,379","20,104,066","50,633,006",NaN
4596,"52,282,360","943,920,245","19,935",NaN,NaN,NaN
4597,"189,972,685","201,027,333","36,849,005","84,426,740",NaN,6.0
4598,"145,467,020","1,118,595,159","37,757,301","6,817,840",NaN,7.0
4599,"255,740,653","866,300,755","70,196,388","69,006,739",NaN,4.0

In [36]:
popularity['Spotify Streams'] = popularity['Spotify Streams'].astype(int)

ValueError: invalid literal for int() with base 10: '390,470,936'

In [ ]:
popularity_df = popularity_df.apply(lambda x: x.replace(",", "")) #remove all the commas

popularity_df = popularity_df.apply(lambda x: pd.to_numeric(x, errors = 'coerce'))

In [ ]:
social_reach = spotify.filter(regex = 'Reach|Popularity')

In [ ]:
social_reach.columns

In [ ]:
social_reach = social_reach.apply(lambda x: x.replace(",", "")) #remove all the commas
social_reach = social_reach.apply(lambda x: pd.to_numeric(x, errors = 'coerce'))

In [ ]:
popularity_df.dtypes

In [ ]:
popularity_df

In [ ]:
social_reach

In [ ]:
popularity_df['pop_score'] = (popularity_df['Spotify Streams'] *0.2)

In [ ]:
popularity_df['Spotify Streams'].dtypes

In [ ]:
popularity_df['Spotify Streams'].isnull()